@import '../../theme/swatches';

.form {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 400px;
}

.textarea {
  resize: none;
  height: 100px;
  border: 2px solid $swatch07;
  border-radius: 9px;
  padding: 8px;
  font-size: 14px;
  letter-spacing: 0.1px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    font-weight: 300;
    color: $swatch04;
  }
}

$button-height: 30px;
$button-margin: 8px;

.button {
  float: right;
  height: $button-height;
  margin: 0;
  margin-top: $button-margin;
  border-radius: 32px;
  padding: 6px 12px;
  color: $swatch02;
  background-color: $swatch09;
  font-size: 14px;
  font-weight: 600;

  &:hover {
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }

  &:disabled {
    opacity: 0.3;
  }
}

.options {
  border: 1px solid $swatch03;
  position: absolute;
  display: inline;
  // move up above the button height (+1 for the border)
  margin-top: -#{$button-height + $button-margin + 1};
  background-color: $swatch02;
  margin-left: 4px;
  box-shadow: 0 0 4px $swatch03;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  font-size: 14px;
  cursor: pointer;
  user-select: none;
  width: 100%;

  // remove button styles
  background-color: initial;
  border: initial;

  &:hover {
    background-color: $swatch05;
  }

  &:focus {
    outline: none;
  }
}

.optionHighlighted {
  background-color: $swatch05;
}

.avatarContainer {
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  max-height: 100%;
  max-width: 100%;
}

.username {
  color: $swatch01;
  padding-left: 8px;
}

.name {
  color: $swatch04;
  padding-left: 8px;
}
