@import '../../theme/resets.scss';
@import '../../theme/swatches.scss';

body {
  margin: 8px;
  background-color: $swatch06;
}

body,
input {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.app {
  width: 1200px;
  margin: 0 auto;
}
